@charset "UTF-8";
* {
  font-family: 'Shippori Antique', sans-serif;
  margin: 0;
  padding: 0; }

.body {
  background-color: #fdf5c8f5; }

.header__divheader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .header__divheader .header__divheader--imgfoto {
    width: 380px;
    height: 450px;
    border-radius: 5px;
    margin: 20px; }
  .header__divheader .header__divheader--nombre {
    font-size: 30px; }
  .header__divheader .header__divheader--profesión {
    font-size: 20px; }

.article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start; }
  .article .article__bienvenida {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 120px; }
  .article .article__img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
    .article .article__img .article__img--article {
      width: 200px;
      height: 200px; }
  .article .article__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
    .article .article__info .article__info--p {
      font-size: 20px;
      text-decoration: underline 3px #000000; }

.footer {
  background-color: #e1ce93;
  margin-top: 150px; }

.divfooter {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .divfooter .divfooter1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .divfooter .divfooter1 .divfooter__fotos--footer {
      width: 60px;
      height: 55px;
      padding-left: 30px;
      padding-right: 10px; }
    .divfooter .divfooter1 .divfooter__texto--footer {
      font-size: 25px; }

#grilla {
  display: grid;
  grid-template-areas: "header section section" "header section section" "footer footer footer"; }
  #grilla .header {
    grid-area: header; }
  #grilla .section {
    grid-area: section; }
  #grilla .footer {
    grid-area: footer; }

@media screen and (max-width: 768px) {
  .body {
    background-color: #fdf5c8f5; }
  .header__divheader {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start; }
    .header__divheader .header__divheader--imgfoto {
      width: 170px;
      height: 210px;
      margin-left: 20px; }
    .header__divheader .header__divheader--nombre {
      font-size: 18px;
      margin-left: 20px; }
    .header__divheader .header__divheader--profesión {
      font-size: 14px;
      margin-left: 20px; }
  .article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .article .article__bienvenida {
      font-size: 25px;
      text-align: center;
      margin: 45px 20px 45px 20px; }
    .article .article__img {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center; }
      .article .article__img .article__img--article {
        width: 80px;
        height: 80px; }
    .article .article__info {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start; }
      .article .article__info .article__info--p {
        font-size: 15px;
        text-decoration: underline 2px #000000; }
  .footer {
    background-color: #e1ce93;
    margin-top: 80px; }
  .divfooter {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }
    .divfooter .divfooter1 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .divfooter .divfooter1 .divfooter__fotos--footer {
        width: 30px;
        height: 25px;
        padding-right: 5px;
        padding-left: 5px; }
      .divfooter .divfooter1 .divfooter__texto--footer {
        font-size: 15px; }
  #grilla {
    display: grid;
    grid-template-areas: "header header header" "section section section" "footer footer footer"; }
    #grilla .header {
      grid-area: header; }
    #grilla .section {
      grid-area: section; }
    #grilla .footer {
      grid-area: footer; } }

.header2__divheader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 130px; }
  .header2__divheader .header2__divheader--imgfoto {
    width: 380px;
    height: 450px;
    border-radius: 5px;
    margin: 20px; }
  .header2__divheader .header2__divheader--nombre {
    font-size: 30px; }
  .header2__divheader .header2__divheader--profesión {
    font-size: 20px; }

.article2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start; }
  .article2 .article2__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-content: flex-end; }
    .article2 .article2__img .article2__img--article {
      width: 160px;
      height: 140px;
      margin-top: 20px;
      margin-bottom: 20px; }
  .article2 .article2__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; }
    .article2 .article2__info .article2__info--h3 {
      font-size: 35px;
      padding: 10px 0px 5px 0px; }
    .article2 .article2__info .article2__info--ul {
      font-size: 25px;
      padding-left: 0; }
      .article2 .article2__info .article2__info--ul .article2__info--ul--li {
        list-style-type: disc; }

@media screen and (max-width: 768px) {
  .body {
    background-color: #fdf5c8f5; }
  .header2__divheader {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    margin-right: 0; }
    .header2__divheader .header2__divheader--imgfoto {
      width: 170px;
      height: 210px;
      margin-left: 20px; }
    .header2__divheader .header2__divheader--nombre {
      font-size: 18px;
      margin-left: 20px; }
    .header2__divheader .header2__divheader--profesión {
      font-size: 14px;
      margin-left: 20px; }
  .article2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around; }
    .article2 .article2__img {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: flex-end; }
      .article2 .article2__img .article2__img--article {
        width: 80px;
        height: 80px;
        margin-top: 0;
        margin-bottom: 8px; }
    .article2 .article2__info {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      align-content: center;
      padding: 10px; }
      .article2 .article2__info .article2__info--h3 {
        font-size: 20px;
        margin-top: 10px; }
      .article2 .article2__info .article2__info--ul {
        font-size: 16px;
        margin-left: 10px;
        padding: 10px; }
        .article2 .article2__info .article2__info--ul .article2__info--ul--li {
          list-style-type: disc; }
  .footer {
    background-color: #e1ce93;
    margin-top: 80px; }
  .divfooter {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }
    .divfooter .divfooter1 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .divfooter .divfooter1 .divfooter__fotos--footer {
        width: 30px;
        height: 25px;
        padding-right: 5px;
        padding-left: 5px; }
      .divfooter .divfooter1 .divfooter__texto--footer {
        font-size: 15px;
        padding-right: 5px; } }
