// Inicio del index en versión desktop


.header__divheader{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
        .header__divheader--imgfoto{
            @include tamaño(380px,450px);
            border-radius: 5px;
            margin:20px;
            
        }
        .header__divheader--nombre{
            font-size: 30px;
        }
        .header__divheader--profesión{
            font-size: 20px;
        }

}


.article{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    .article__bienvenida{
        font-size: 50px;
        margin-top: 30px;
        margin-bottom: 120px;
        }
    .article__img{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        .article__img--article{
            @include tamaño (200px,200px);
        }
        }
    .article__info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        .article__info--p{
            font-size: 20px;
            text-decoration: underline 3px #000000;
        }  

    }

}



.footer{

    background-color: #e1ce93;
    margin-top: 150px;
    
  
}

.divfooter{

    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;  
    align-items: center;     
        .divfooter1{
            
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;     
            .divfooter__fotos--footer{
                @include tamaño(60px,55px);
                padding-left: 30px;
                padding-right: 10px;
                
            }
    
            .divfooter__texto--footer{
                font-size: 25px;
            }

        }
           

}




//  Inicio de grid en versión desktop

#grilla{

    display: grid;
    grid-template-areas: 
    "header section section"
    "header section section"
    "footer footer footer";
    .header{
        grid-area: header;
      }
    .section{
        grid-area: section;
      }
    .footer{
        grid-area:footer;
      } 
    
}


// Inicio del index en versión mobile


@media screen and (max-width:768px) {

    .body{
        background-color: #fdf5c8f5;    
     }

     .header__divheader{

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
            .header__divheader--imgfoto{
                @include tamaño(170px,210px);
                margin-left: 20px;
            }
            .header__divheader--nombre{
                font-size: 18px;
                margin-left: 20px;
            }
            .header__divheader--profesión{
                font-size: 14px;
                margin-left: 20px;
            }
    
    }

    .article{

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .article__bienvenida{
            font-size: 25px;
            text-align: center;
            margin: 45px 20px 45px 20px;
            }
        .article__img{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            .article__img--article{
                 @include tamaño (80px,80px);
            }
            }
        .article__info{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-start;
            .article__info--p{
                font-size: 15px;
                text-decoration: underline 2px #000000;
            }  
    
        }
    
    }


    .footer{

        background-color: #e1ce93;
        margin-top: 80px;
        
      
    }
    
    .divfooter{
    
        padding-top: 30px; 
        padding-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;  
        align-items: flex-start; 
            .divfooter1{
                
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;     
                .divfooter__fotos--footer{
                    @include tamaño(30px,25px);
                    padding-right: 5px;
                    padding-left: 5px;
                    
                }
        
                .divfooter__texto--footer{
                    font-size: 15px;
                    // padding-right: 5px;
                }

            }


        
    }

    //Inicio de grid en versión mobile

#grilla{

    display: grid;
    grid-template-areas: 
    "header header header"
    "section section section"
    "footer footer footer";
    .header{
        grid-area: header;
      }
    .section{
        grid-area: section;
      }
    .footer{
        grid-area:footer;
      } 
    
}


}


