// Inicio del index
.body{

   background-color: #fdf5c8f5;

}

.header__divheader{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
        .header__divheader--imgfoto{
            @include tamaño(500px,450px);
        }
        .header__divheader--nombre{
            font-size: 30px;
        }
        .header__divheader--profesión{
            font-size: 20px;
        }

}


.article{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    .article__bienvenida{
        font-size: 50px;
        margin-top: 50px;
        margin-bottom: 80px;
        margin-left: 50px;
        }
    .article__img{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        .article__img--article{
             @include tamaño (200px,200px);
        }
        }
    .article__info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        .article__info--p{
            font-size: 20px;
        }  

    }

}



.footer{

    background-color: #e1ce93;
    margin-top: 150px;
    
  
}

.divfooter{

    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;  
    align-items: center;        
        .divfooter__fotos--footer{
            @include tamaño(60px,55px);
            padding-left: 30px;
            padding-right: 10px;
            
        }

        .divfooter__texto--footer{
            font-size: 25px;
        }

}




/* Inicio de grid */

#grilla{

    display: grid;
    grid-template-columns: 200px,1fr,1fr;
    grid-template-rows: 500px,1fr;
    grid-template-areas: 
    "header section section"
    "header section section"
    "footer footer footer";
    .header{
        grid-area: header;
      }
    .section{
        grid-area: section;
      }
    .footer{
        grid-area:footer;
      } 
    
}