/* Inicio de sobre mi en versión desktop */


.header4__divheader{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
        .header4__divheader--imgfoto{
            @include tamaño(380px,450px);
            border-radius: 5px;
            margin:20px;
        
        }
        .header4__divheader--nombre{
            font-size: 30px;          
        }
        .header4__divheader--profesión{
            font-size: 20px;        
        }

}

.article4{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
        .article4__img{
            display: flex;
            flex-wrap: wrap;
            justify-content: right;
            .article4__img--article{
                @include tamaño (160px,140px);
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        .article4__info{
            display: flex;
            flex-wrap: wrap;           
            flex-direction: column;
            justify-content: left;     
            .article4__info--p{
                font-weight: bold;
                font-size: 35px;
                padding: 10px 0px 5px 0px;             
            } 

            .article4__info--div{              
                padding-right: 50px;
            }
                
            .article4__info--ul{
                font-size: 25px;
                padding-left: 0;
                .article4__info--ul--li{
                    list-style-type:disc;
                }
            
            }

            .imgconocimientos{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-start; 
                .imgconocimientos__img{
                    width: 60px;
                    height: 45px;                   
                }
            }
            
        }

}


/* Inicio de sobre mi en versión mobile */


@media screen and (max-width:768px) {

    .body{
        background-color: #fdf5c8f5;   
        width: 100%;      
     }

    .header4__divheader{

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between ;
        align-content: flex-start;
        align-items: none;
      
        .header4__divheader--imgfoto{
                @include tamaño(170px,210px);
                margin-left: 20px;
            }
            .header4__divheader--nombre{
                font-size: 18px;
                margin-left: 20px;
            }
            .header4__divheader--profesión{
                font-size: 14px;
                margin-left: 20px;
            }


    }


    .article4{

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        a{
            text-decoration: none;
        }  
        a:visited{
            text-decoration: none;
            color: inherit;
            
        } 
        
        .article4__img{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: end;       
                .article4__img--article{                     
                    @include tamaño (80px,80px);
                    margin-top: 0;
                    margin-bottom: 8px;
                }
            }
            .article4__info{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-content: flex-start;
                padding: 10px;
        
                .article4__info--p{
                    font-weight: bold;
                    text-decoration-line: none;
                    font-size: 18px;
                    margin-top: 10px;
                    padding: 0;
                }
                
                .article4__info--ul{
                    font-size: 14px;
                    margin-left: 10px;
                    padding: 10px;
                    .article4__info--ul--li{
                        list-style-type:disc;
                    }
                        
                }  
                    
                .imgconocimientos{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: flex-start; 
                    .imgconocimientos__img{
                        width: 40px;
                        height: 25px;                  
                    }
                }
            
            }



    }

    .footer{

        background-color: #e1ce93;
        margin-top: 80px;
        
      
    }
    
    .divfooter{
    
        padding-top: 30px; 
        padding-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;  
        align-items: flex-start; 
            .divfooter1{
                
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;     
                .divfooter__fotos--footer{
                    @include tamaño(30px,25px);
                    padding-right: 5px;
                    padding-left: 5px;
                    
                }
        
                .divfooter__texto--footer{
                    font-size: 15px;
                    padding-right: 5px;
                }

            }


        
    }

     
}

/* Fin de sobre mi*/